body{

background:#0b0c10;
color:white;
font-family:Arial;

}

.container{

display:grid;

grid-template-columns: 20% 50% 30%;

}

.panel{

padding:15px;

}

#simulation{

height:600px;

}

canvas{

background:#111;

margin-bottom:20px;

}